@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@700&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

.light_green {
  color: #2a7d2e;
}

.dark_green {
  color: #0b3d2c;
}

.navbar1 {
  background-image: url(/img/Top-bar-leafs-green.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #0b3d2c;
  padding: 20px 0px;
  border-bottom: 1px solid #f7f7f7;
}

.navbar1 ul {
  margin-bottom: 0px;
}

.navbar1 .first li {
  list-style: none;
  font-size: 15px;
  color: white;
  cursor: pointer;
  font-weight: lighter;
}

.navbar1 .first li .down:hover {
  border-bottom: 3px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.navbar1 .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.navbar1 .second li {
  list-style: none;
  color: white;
  cursor: pointer;
}

.navbar1 .second li:hover {
  color: #0b3d2c;
}

.navbar2 {
  padding: 20px;
  background-color: white;
}

.navbar2 .logo {
  color: #0b3d2c;
  font-size: 30px;
  font-weight: 900;
  width: 350px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar2 .logo img {
  width: 8%;
  margin-right: 10px;
}

.navbar2 .button {
  background-color: #2a7d2e;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 7px 15px;
  -webkit-box-shadow: 0 0 25px -14px #2a7d2e;
          box-shadow: 0 0 25px -14px #2a7d2e;
}

.navbar2 .button a {
  text-decoration: none;
  color: white;
}

.navbar2 .button:hover {
  color: white !important;
  background-color: #0b3d2c;
}

.navbar2 .button:hover a {
  color: white !important;
}

.navbar2 li {
  list-style: none;
  cursor: pointer;
}

.navbar2 li a {
  text-decoration: none;
  color: #0b3d2c;
}

.navbar2 li a:Hover {
  color: #2a7d2e;
}

.navbar2 .list li {
  padding-top: 10px;
  font-size: 17px;
}

.navbar2 .list:hover {
  color: #2a7d2e;
}

.navbar2 .list li {
  list-style: none;
  padding: 0px 20px;
}

.banner {
  background-image: url(/img/cop.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner h1 {
  font-weight: 600;
  font-size: 55px;
  color: white;
}

.banners {
  background-image: url(/img/cpc.jpg);
  background-position: center;
  background-size: cover;
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banners h1 {
  font-weight: 600;
  font-size: 55px;
  color: white;
}

.quote h1 {
  font-size: 60px;
  color: #0b3d2c;
}

.quote h5 {
  color: #0b3d2c;
}

.quote .quoteset {
  padding: 30px;
  background-image: url(/img/leaf-left1-01.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.quote .noos img {
  height: 100vh !important;
  -o-object-fit: cover;
     object-fit: cover;
}

.quote button {
  background-color: #2a7d2e;
  border: none;
  outline: none;
  border-radius: 20px;
  padding: 10px 20px;
  color: white;
  -webkit-box-shadow: 0 0 25px -14px #2a7d2e;
          box-shadow: 0 0 25px -14px #2a7d2e;
}

.footer {
  background-color: #fcfaf7;
  padding-top: 30px;
}

.footer center {
  background-image: url(/img/footer.webp);
  background-position: center;
  background-size: cover;
}

.footer center h2 {
  color: #0b3d2c;
}

.footer center h2 svg {
  color: #2a7d2e;
}

.footer center button {
  border: 1px solid #2a7d2e;
  background: transparent;
  padding: 12px 30px;
  border-radius: 30px;
}

.footer center button a {
  text-decoration: none;
  color: #2a7d2e;
}

.footer center button:hover {
  color: white;
  background-color: #2a7d2e;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.footer center button:hover a {
  color: white;
}

.footer center .second {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #2a7d2e;
}

.footer center .second li {
  list-style: none;
  margin: 0px 20px;
}

.sections6 {
  padding: 50px;
}

.sections6 h3 {
  color: #2a7d2e;
}

.sections6 h5 {
  font-size: 16px;
}

@media only screen and (max-width: 1200px) {
  .banner h1 {
    font-weight: 600;
    font-size: 45px;
  }
}

@media only screen and (max-width: 1100px) {
  .navbar2 .logo {
    color: #0b3d2c;
    font-size: 20px;
    font-weight: 600;
    width: 250px;
  }
  .navbar1 {
    display: none;
  }
  .bord {
    border: none;
  }
  .flower1, .flower2 {
    display: none;
  }
  .navbar2 .button {
    padding: 5px 10px;
    font-size: 12px;
  }
  .button {
    padding: 5px 10px !important;
    font-size: 12px;
  }
  .banner h1 {
    font-weight: 600;
    font-size: 40px;
  }
}

@media only screen and (max-width: 890px) {
  .banner h1 {
    font-weight: 600;
    font-size: 35px;
  }
  .sections5 h3 {
    font-size: 40px !important;
  }
  .sections5 button {
    font-size: 15px !important;
  }
}

@media only screen and (max-width: 460px) {
  .banner h1 {
    font-weight: 600;
    font-size: 30px;
  }
  .sections5 h3 {
    font-size: 30px !important;
  }
  .sections5 button {
    font-size: 12px !important;
  }
  .navbar2 .logo {
    color: #0b3d2c;
    font-size: 17px;
    font-weight: 600;
    width: 180px;
  }
}
/*# sourceMappingURL=contact.css.map */